<div>
   

    <dl>
        <dt>Nombre:</dt>
        <dt>{{name}}</dt>
    
        <dt>Edad:</dt>
        <dd>{{age}}</dd>
    
        <dt>Método:</dt>
        <dd>{{getHeroDescription()}}</dd>
    
        <dt>Capitalizado:</dt>
        <dd>{{capitalize(name)}}</dd>
    
    
    </dl>
    
    
    <button *ngIf="name !== 'Spiderman'" (click)="changeHero()" class="btn btn-primary mx-2" >
        Cambiar nombre
    </button>
    
    <button *ngIf="age !== 28" (click)="changeAge()" class="btn btn-primary mx-2" >
        Cambiar edad
    </button>
    <button  (click)="reset()" class="btn btn-primary" >
        Reset
    </button>
</div>