h1{
    text-align: center;
    background: red;
    color: white;
    padding: 20px;
    font-size: 50px;
}

div {

    text-align  : center;

}

button{
    margin: 20px;
    width: 200px;
    height: 200px;
    background: red;
    color: white;
    font-size:40px;
    border-color: white;
}